<template name="dreamList">
	<div class="container-fluid">
		{{#if isNewDream}}
			<div class="row">
				<div class="col-sm-12">
					<div class="alert alert-info">
						Tu sueño ha sido guardado :)
					</div>
				</div>
			</div>
		{{/if}}
		<div class="row">
			{{#each dreams}}
				<div class="col-sm-12 date-div">
					<span class="label label-primary">{{formatDate createdOn 'short'}}</span>
				</div>
				<div class="col-sm-12">
					<table align="center" class="table dream-table">
						<tbody>
							<tr class="dream-tr">
								<td class="dream-text-td">{{shortDreamText text 60}}</td>
								<td class="dream-face-td"><img class="dream-face" src="/img/faces/{{mood.fileName}}" alt=""></td>
							</tr>
						</tbody>
					</table>
				</div>
			{{/each}}
			<div class="col-sm-12">
				{{#if moreResults}}
				    <div id="showMoreResults" style="margin-left: 25px;">
				        <span class="loading">Loading...</span>
				    </div>
				{{/if}}
			</div>
		</div>
	</div>

</template>