<template name="dreamList">
	<div class="container-fluid">
		{{#if isNewDream}}
			<div class="row">
				<div class="col-sm-12">
					<div class="alert alert-info">
						Tu sueño ha sido guardado :)
					</div>
				</div>
			</div>
		{{/if}}
		<div class="row">
			{{#each dreams}}
				<div class="col-sm-12" style="padding-left:1px;padding-right:1px">
					<table align="center" class="table cloudy-tr">
						<tbody>
							<tr>
								<td class="date-td">{{formatDate createdOn 'short'}}</td>
								<td class="dream-text-td">{{shortDreamText text 15}}</td>
								<td class="dream-face-td"><img class="face-preview" src="/img/faces/{{mood.fileName}}" alt=""></td>
							</tr>
						</tbody>
					</table>
				</div>
			{{/each}}
		</div>
	</div>

</template>