<template name="editTags">
	<div class="container">
		<div class="alert alert-info">
			<table>
				<tr>
					<td><span class="alert-message glyphicon glyphicon-info-sign"></span></td>
					<td><span class="alert-message"> {{translate 'Clasifica tus sueños con etiquetas'}}</span></td>
				</tr>
			</table>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<span class="glyphicon glyphicon-cloud"></span>
						<span>{{translate 'Tu sueño'}}</span>
					</div>
					<div class="panel-body">

						<div class="container-fluid">
							<div class="row">
								<div class="col-xs-9">
									{{dreamText}}
								</div>
							</div>
						</div>
						
					</div>
					<div class="panel-footer">
						<div class="container">
							<div class="row">
							{{#each assignedTags}}
								<div class="col-xs-6 tag-container hidden-lg">
									<span class="label label-success assigned-tag">{{text}} <span class="glyphicon glyphicon-remove"></span></span>
								</div>
								<div class="col-lg-3 tag-container hidden-xs hidden-sm hidden-md">
									<span class="label label-success assigned-tag">{{text}} <span class="glyphicon glyphicon-remove"></span></span>
								</div>
							{{/each}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
		{{#if availableUserTags}}
			<div class="col-sm-12">
				<div class="panel panel-info">
					<div class="panel-heading">
						<span>{{translate 'Asigna tus etiquetas'}}</span>
					</div>
					<div class="panel-body">
						<div class="container-fluid">
							<div class="row">
								<div class="col-sm-6">
									<input type="text" class="form-control search-tag" placeholder="Buscar etiqueta" maxlength="20">
								</div>
								<div class="col-sm-2">
									<button class="btn btn-default assign-button" style="display:none">
										{{translate 'Asignar'}}
										<span class="glyphicon glyphicon-plus-sign"></span>
									</button>
								</div>
								{{#if tagError}}
								<div class="col-sm-4">
									<span class="label label-danger">
										{{translate tagError}}
									</span>
								</div>
								{{/if}}
							</div>
							<div class="row">
								<div class="col-sm-12">
									<table class="tag-table">
									{{#if searchedTagsAvailable}}
										<tr>
											{{#each searchedTags}}
											<td>
												<span class="label label-primary searched-tag">{{text}} <span class="glyphicon glyphicon-plus-sign"></span></span>
											</td>
											{{/each}}
										</tr>
									{{/if}}
									</table>
									</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		{{/if}}
		</div>
		<div class="row">
			<div class="col-sm-4">
				<button class="btn btn-warning form-control next-button cancel-edit">
					{{translate 'Cancelar edición'}}
					<span class="glyphicon glyphicon-remove"> </span>
				</button>
			</div>
			<div class="col-sm-4">
				<button class="btn btn-success form-control next-button save-tags">
					{{translate 'Guardar'}}
					<span class="glyphicon glyphicon-save"> </span>
				</button>
			</div>
		</div>
	</div>
</template>