<template name="editDream">
	<div class="container">
		<div class="bs-component random-message-container">

			<div class="row">
				<div class="col-sm-12">
					<textarea 
						id="dreamText" 
						name="dreamText" 
						class="form-control dream-input" 
						rows="5" 
						placeholder="{{translate 'Escribe aquí tu sueño'}}"
						value={{editDream.text}}></textarea>
				</div>
			</div>
			<div class="row" style="margin-top:5px">
				<div class="col-sm-4">
					<button 
						class="btn btn-warning form-control cancel-edit">
							{{translate 'Cancelar edición'}}
							<span class="glyphicon glyphicon-remove">
							</span>
					</button>
				</div>
				<div class="col-sm-4">
					<button 
						class="btn btn-success form-control save-dream-text" {{disabledSaveDream}}>
							{{translate 'Guardar'}}
							<span class="glyphicon glyphicon-save">
							</span>
					</button>
				</div>
			</div>
			{{#if error}}
			<div class="row" style="margin-top:1rem">
				<div class="col-sm-12">
					<span class="label label-danger">{{error}}</span>
				</div>
			</div>
			{{/if}}
		</div>
	</div>
</template>