<template name="home">
	<div class="container">
		<div class="bs-component random-message-container">

			<div class="row">
				<div class="col-sm-12">
					<h3 class="page-title">¿Qué soñaste?</h3>
				</div>
				<div class="col-sm-12">
					<textarea 
						id="dreamText" 
						name="dreamText" 
						class="form-control dream-input" 
						rows="5" 
						placeholder="Escribe aquí tu sueño"
						value={{dreamText}}></textarea>
				</div>
				<div class="col-sm-12">
					{{#if saveDreamError}}
						<span class="label label-danger">
							{{saveDreamError}}
						</span>
					{{/if}}
				</div>
				<div class="col-sm-4">
					<button 
						class="btn btn-success form-control save-dream" {{disabledSaveDream}}>
							Guardar sueño
							<span class="glyphicon glyphicon-plus-sign">
							</span>
					</button>
				</div>
			</div>

			<div id="randomMessage" class="alert alert-warning">
				<table>
					<tr>
						<td><span class="alert-message glyphicon glyphicon-info-sign"></span></td>
						<td><span class="alert-message" id="randomMessageText"></span></td>
					</tr>
				</table>
				{{randomMessage}}
			</div>
		</div>
	</div>
</template>