<template name="login">
	<div class="container sky-background">
		<div class="row">
			<div class="col-xs-12 centered-content">
				<h1>MySogni</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 centered-content">
				<h4>{{chooseLanguageText}}</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 centered-content">
				<button class="fb-login btn btn-primary">{{loginFacebookText}}</button>
			</div>
		</div>
		{{#if loginError}}
		<div class="row">
			<div class="col-xs-12 centered-content">
				<h3 class="label label-danger">
					{{loginError}}
				</h3>
			</div>
		</div>
		{{/if}}
		<div class="row centered-content">
			<div class="col-xs-12">
				<button class="btn btn-warning switch-language"> {{switchLanguageText}} </button>
			</div>
		</div>
	</div>
</template>