<template name="login">
	<div class="container sky-background">
		<div class="row">
			<div class="col-xs-12 centered-content">
				<img class="img-responsive auto-side-margin" src="/img/mysognifullwhites.png" alt="">
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 centered-content">
				<h4>{{translate 'Comienza a estudiar tus sueños'}}</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 centered-content">
				<button class="fb-login btn btn-info">{{translate 'Inicia sesión con facebook'}}</button>
			</div>
		</div>
		{{#if strings.loginError}}
		<div class="row">
			<div class="col-xs-12 centered-content">
				<h3 class="label label-danger">
					{{strings.loginError}}
				</h3>
			</div>
		</div>
		{{/if}}
		<div class="row centered-content">
			<div class="col-xs-12">
				<button class="btn btn-warning switch-language"> {{translate 'Switch to english'}} </button>
			</div>
		</div>
	</div>
</template>