<template name="login">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="well page">
				<form class="form-horizontal loginForm">
					<fieldset>
						<legend>Login</legend>
						<div class="form-group">
							<input class="form-control empty" type="text" placeholder="user" />
							<input class="form-control empty" type="text" placeholder="password" />
						</div>
						<button class="form-control btn btn-primary" > Iniciar </button>
					</fieldset>
				</form>
				</div>
			</div>
		</div>
	</div>
</template>