<template name="tags">
	{{#if availableUserTags}}
	<div class="container-fluid">
		<div class="well well-sm section-title">
			<span class="glyphicon glyphicon-tag"></span>
			<span>Etiquetas</span>
		</div>
	</div>
	{{/if}}
	<div class="container">
		{{#if availableUserTags}}

		{{else}}
		<div class="alert alert-info">
			<table>
				<tr>
					<td><span class="alert-message glyphicon glyphicon-info-sign"></span></td>
					<td><span class="alert-message"> Crea y asigna etiquetas para que sea más fácil clasificar tus sueños. Por ejemplo: Agua, pasado, futuro, conflicto...</span></td>
				</tr>
			</table>
		</div>
		{{/if}}
		<div class="row">
			<div class="col-sm-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<span class="glyphicon glyphicon-cloud"></span>
						<span>Tu sueño</span>
						<button class="btn btn-default btn-sm edit-dream"> Editar
						<span class="glyphicon glyphicon-pencil"></span>
						</button>
					</div>
					<div class="panel-body">
						{{dreamText}}
					</div>
					<div class="panel-footer">
						<div class="container">
							<div class="row">
							{{#each assignedTags}}
								<div class="col-xs-6 tag-container hidden-lg">
									<span class="label label-success assigned-tag">{{text}} <span class="glyphicon glyphicon-remove"></span></span>
								</div>
								<div class="col-lg-3 tag-container hidden-xs hidden-sm hidden-md">
									<span class="label label-success assigned-tag">{{text}} <span class="glyphicon glyphicon-remove"></span></span>
								</div>
							{{/each}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			{{> tagSelection}}
		</div>
		<div class="row">
			<div class="col-sm-6">
				<input 
					type="text" 
					class="form-control tag-input" 
					placeholder="Escribe aquí para crear una etiqueta"
					maxlength="15">
				{{#if createTagError}}
					<span class="label label-danger">
						{{createTagError}}
					</span>
				{{/if}}
			</div>
			{{#if creatingTag}}
				<div class="col-sm-2">
					{{> blueLoader}}
				</div>
			{{else}}
				<div class="col-sm-2">
					<button class="btn btn-info form-control create-tag"> 
						Crear etiqueta	
						<span class="glyphicon glyphicon-plus-sign"> </span>
					</button>
				</div>
			{{/if}}
		</div>
		<div class="row">
			<div class="col-sm-4">
				<button class="btn btn-success form-control next-button">
					Siguiente
					<span class="glyphicon glyphicon-chevron-right"> </span>
				</button>
			</div>
		</div>
	</div>
</template>