<template name="tags">
	{{#if availableUserTags}}
	<div class="container-fluid">
		<div class="well well-sm section-title">
			<span class="glyphicon glyphicon-tag"></span>
			<span>{{translate 'Etiquetas'}}</span>
		</div>
	</div>
	{{/if}}
	<div class="container">
		{{#if availableUserTags}}

		{{else}}
		<div class="alert alert-info">
			<table>
				<tr>
					<td><span class="alert-message glyphicon glyphicon-info-sign"></span></td>
					<td><span class="alert-message"> {{translate 'Clasifica tus sueños con etiquetas'}}</span></td>
				</tr>
			</table>
		</div>
		{{/if}}
		<div class="row">
			<div class="col-sm-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<span class="glyphicon glyphicon-cloud"></span>
						<span>{{translate 'Tu sueño'}}</span>
						<button class="btn btn-default btn-sm edit-dream"> {{translate 'Editar'}}
						<span class="glyphicon glyphicon-pencil"></span>
						</button>
					</div>
					<div class="panel-body">

						<div class="container-fluid">
							<div class="row">
								<div class="col-xs-9">
									{{dreamText}}
								</div>
								<div class="col-xs-3">
									<img class="face-preview" src="/img/faces/{{selectedFace}}" alt="">
								</div>
							</div>
						</div>
						
					</div>
					<div class="panel-footer">
						<div class="container">
							<div class="row">
							{{#each assignedTags}}
								<div class="col-xs-6 tag-container hidden-lg">
									<span class="label label-success assigned-tag">{{text}} <span class="glyphicon glyphicon-remove"></span></span>
								</div>
								<div class="col-lg-3 tag-container hidden-xs hidden-sm hidden-md">
									<span class="label label-success assigned-tag">{{text}} <span class="glyphicon glyphicon-remove"></span></span>
								</div>
							{{/each}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			{{> tagSelection}}
		</div>
		<!--<div class="row">
			<div class="col-sm-12">
				<input 
					type="text" 
					class="form-control tag-input" 
					placeholder="{{translate 'Escribe aquí para crear una etiqueta'}}"
					maxlength="15">
				{{#if createTagError}}
					<span class="label label-danger">
						{{createTagError}}
					</span>
				{{/if}}
			</div>
			<div class="col-sm-6">
				<select id="tagCategory" class="form-control tag-category">
					{{#each tagCategories}}
						<option value="{{value}}">{{text}}</option>
					{{/each}}
				</select>
			</div>
			{{#if creatingTag}}
				<div class="col-sm-2">
					{{> blueLoader}}
				</div>
			{{else}}
				<div class="col-sm-3">
					<button class="btn btn-info form-control create-tag"> 
						{{translate 'Crear etiqueta'}}
						<span class="glyphicon glyphicon-plus-sign"> </span>
					</button>
				</div>
			{{/if}}

		</div>-->
		<div class="row">
			<div class="col-sm-4">
				<button class="btn btn-success form-control next-button save-dream">
					{{translate 'Guardar sueño'}}
					<span class="glyphicon glyphicon-chevron-right"> </span>
				</button>
			</div>
		</div>
	</div>
</template>