
.cloudy-tr {
	background-image:url('/img/bg/cloudybg.png');
	background-repeat:repeat-x;
	background-size: 40px 100%;
	max-width:600px;
}

.date-td {
	width:25%;
	max-width:80px;
	padding:2rem !important;
}

.dream-text-td {
	max-width:200px !important;
	width:45% !important;
	padding:2rem !important;
}

.dream-face-td {
	max-width:100px;
	width:30%;
	padding:2rem !important;
}
