.dream-table {
	max-width:600px;
	font-size:1.8rem;
	background-color:#aac3dc;
	-webkit-border-radius: 12px; 
	-moz-border-radius: 12px;
	border-radius: 12px;
	filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=5, OffY=5, Color='#222')";
	filter: url(#drop-shadow);
	-webkit-filter: drop-shadow(5px 5px 7px rgba(0,0,0,0.2));
	filter: drop-shadow(5px 5px 7px rgba(0,0,0,0.2));
}

.cloudy-td {
	background-image:url('/img/bg/cloudybg.png');
	background-repeat:repeat-x;
	background-size: 40px 100%;
}

.date-div {
	margin:0 0 auto;
	text-align:center;
}

.more-button {
	margin:0 0 auto;
	text-align:center;
}

.dream-text-td {
	max-width:200px !important;
	width:60% !important;
	padding:2rem !important;
}

.dream-face-td {
	max-width:100px;
	width:10%;
	padding:2rem !important;
}

.dream-face {
	width:50px;
}