.tag-input {
	margin-top:5px;
}

.tag-category {
	margin-top:5px;
}

.label {
	font-size:15px;
}

.tag-table td{
	padding-top:1rem;
}

.edit-dream {
	margin-left:3rem;
}

.searched-tag {
	cursor:pointer;
}

.assigned-tag {
	cursor:pointer;
}

.create-tag {
	margin-top:5px;
}

.label-container {
	float:left;
}

.assigned-tag {
	word-wrap:break-word;
}

.tag-container {
	margin-top:10px;
}

.face-preview {
	width: 70px;
}